---
title: Chrome Keyboard Cheat Sheet 
---


<% data.keyboards.chrome.each do |key_combo| %>

<h4><%= key_combo.title %></h4>


<%= kbset(key_combo['keys']) %>


<div class="description">
  <%=key_combo.description %>
</div>

<% end %>
