@import 'site/code';
@import 'site/footer';
@import 'site/header';
@import 'site/media';
@import 'site/keys';
@import 'site/page';

body{
  padding-top: 2.3em;
}


#cheatsheet-page{
  .combo{
    margin-bottom: 2.0em;

    .title{
      margin-top: 0;
      padding-top: 0;
      margin-bottom: 2px;
    }
  }



  .description{
    font-family: $font-family-sans-serif;
    font-size: 14px;
  }
}
