@import 'site/code';
@import 'site/footer';
@import 'site/header';
@import 'site/media';
@import 'site/keys';


body{
  padding-top: 2.3em;
}


#cheatsheet-page{
  .combo{
    margin-bottom: 2.0em;
  }

  .description{
    font-family: $font-family-sans-serif;
    font-size: 14px;
  }
}
