@import 'site/code';
@import 'site/footer';
@import 'site/header';
@import 'site/media';
@import 'site/keys';
@import 'site/page';

body{
  padding-top: 2.3em;
}


#cheatsheet-page{

  h2{
    margin-top: 2.0em;
    font-size: 45px;
  }
  .combo{
    margin-bottom: 3.0em;
    &.pri1{
      .title{
        color: #C00;
      }
    }

    .title{
      margin-top: 0;
      padding-top: 0;
      margin-bottom: 2px;
    }
  }



  .description p{
    font-family: $font-family-sans-serif;
    font-size: 14px;
  }
}
