/* Code adapted from Dustin Cartright:
https://dl.dropboxusercontent.com/u/921159/Keyboard/page1.html
*/

/* Micro Clearfix by Nicolas Gallagher - http://nicolasgallagher.com/micro-clearfix-hack */
        /* For modern browsers */

.kbs:before, .kbs:after {content:""; display:table;}
.kbs:after {clear:both;}

$key-size-factor: 1.5;
$key-base-height: 44px;
$key-base-padding: 5px;

.kbkey{
  background: #222;
  color: #dddddd;

  display: block;
  float: left;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px * $key-size-factor;
  text-decoration: none;
  text-align: center;
  width: $key-base-height * $key-size-factor;
  height: 41px * $key-size-factor;
  margin: 5px * $key-size-factor;
  padding: $key-base-padding * $key-size-factor;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-top: 1px solid #222;
  box-shadow: inset 0 0 25px #333, 0 1px 0 #000, 0 2px 0 #222, 0 2px 3px #333;
  text-shadow: 0px -1px 0px #000;

  &.lite{
    background: #eff0f2;
    color: #aaa;
    border-top: 1px solid #e2e2e2;
    -webkit-box-shadow:
      inset 0 0 25px #e8e8e8,
      0 1px 0 #c3c3c3,
      0 2px 0 #c9c9c9,
      0 2px 3px #333;
    -moz-box-shadow:
      inset 0 0 25px #e8e8e8,
      0 1px 0 #c3c3c3,
      0 2px 0 #c9c9c9,
      0 2px 3px #333;
    box-shadow:
      inset 0 0 25px #e8e8e8,
      0 1px 0 #c3c3c3,
      0 2px 0 #c9c9c9,
      0 2px 3px #333;
    text-shadow: 0px 1px 0px #f5f5f5;
  }
}


.kbkey{
  text-align: center;
  padding-top: 13px * $key-size-factor;

  &.ctrl{
    padding-top: 20px * $key-size-factor;
    text-align: center;
    width: 50px * $key-size-factor;
  }

  &.cmd{
    padding-top: 2px * $key-size-factor;
    text-align: center;
    width: 66px * $key-size-factor;
    .symbol{
      display: block;
      margin-bottom: 4px * $key-size-factor;
      text-align: left;
    }
  }

  &.tab{
    padding: 22px 0 0 10px;
    width: 72px * $key-size-factor;
    text-align: left;
  }

  &.alt{
    padding-top: 2px;
    text-align: left;
    width: 50px * $key-size-factor;
    .symbol{
      display: block;
      font-size: smaller;
      text-transform: lowercase;
      margin-bottom: 5px;
    }
  }

  &.shift{
    padding-top: 20px;
    width: 80px * $key-size-factor;
    text-align: left;
    text-transform: lowercase;
  }

  &.tilde{
    padding-top: 2px;
    .symbol{
      display: block;
      margin-bottom: 7px;
    }
  }

  &.up, &.down, &.left, &.right{
    height: $key-base-height / 2 * $key-size-factor;
    padding-top: $key-base-padding / 2 * $key-size-factor;
    margin-top: 35px;
  }
}


.kb.plus{
  display: block;
  float: left;
  margin: 5px;
  padding-top: 10px * $key-size-factor;
  font-weight: bold;
  font-size: 16px * $key-size-factor;
  font-family: $font-family-monospace;
}
