---
title: Keyboard Cheat Sheet
---

<div id="cheatsheet-page">
<section class="sec">

  <h2>Chrome Web Browser</h2>

    <% data.keyboards.chrome.each do |key_combo| %>
      <div class="combo">
        <h4><%= key_combo.title %></h4>
        <div class="row">
          <div class="col-sm-6">

            <%= kbset(key_combo['keys']) %>

          </div>
          <div class="col-sm-6">
              <div class="description">
                <%= markdownify key_combo.description %>
              </div>
              <% if key_combo.image %>
                <div class="mediawrap">
                  <img src="<%=key_combo.image%>">
                </div>
              <% end %>
          </div>
        </div>
      </div>
    <% end %>

</section>

</div>
