<!-- footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <a href="http://journalism.stanford.edu">Stanford Journalism</a>
            </div>
            <div class="col-sm-6">
                <p>
                    This walkthrough was created for the summer bootcamp for Stanford Journalism students.
                </p>

                <p>You can find me (<a href="http://stanford.edu/~dun/">Dan Nguyen</a>) on <a href="https://twitter.com/dancow">Twitter</a> and <a href="https://github.com/dannguyen">Github</a>.</p>
            </div>
        </div>
        <!-- end row-->
    </div>
</footer>
